<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm py-3">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="https://img.icons8.com/ios/50/000000/book-shelf.png" alt="Logo" class="me-2" style="width: 40px; height: 40px;">
            <span class="fw-bold fs-4" style="color: #0066cc;">Rocket Code Library</span>
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active fs-5 px-3" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 px-3" href="#" routerLink="/catalog">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 px-3" href="#" routerLink="/books">Libros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 px-3" href="#" routerLink="/students">Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 px-3" href="#" routerLink="/loans">Préstamos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  