<div class="container mt-5">
    <h2 class="text-center mb-4">Catálogo de Libros</h2>
  
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let book of books" class="col">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Título: {{ book.title }}</h5>
            <p class="card-text"><strong>Autor:</strong> {{ book.author }}</p>
            <p class="card-text"><strong>Género:</strong> {{ book.genre }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
