<div class="container text-center my-5">
  <h1 class="display-4 text-primary">Bienvenido</h1>
  <p class="lead text-muted">Sistema de préstamos de libros a estudiantes</p>
</div>

<!-- Carousel -->
<div class="container d-flex justify-content-center my-5">
  <div id="carouselExampleDark" class="carousel carousel-dark slide w-100" style="max-width: 700px;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="8000">
        <img src="https://img.freepik.com/vector-gratis/plantilla-tarjeta-felicitacion-jubilacion-degradada-ilustrada_23-2148935016.jpg?ga=GA1.1.1346437107.1724645956&semt=ais_hybrid&w=740" class="d-block w-100 rounded-3 shadow-lg" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <img src="https://img.freepik.com/psd-gratis/plantilla-degradado-dia-mundial-libro_23-2149290740.jpg?ga=GA1.1.1346437107.1724645956&semt=ais_hybrid&w=740" class="d-block w-100 rounded-3 shadow-lg" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="8000">
        <img src="https://img.freepik.com/vector-gratis/cubierta-libro-invierno-elegante-abstracto_23-2148798745.jpg?ga=GA1.1.1346437107.1724645956&semt=ais_hybrid&w=740" class="d-block w-100 rounded-3 shadow-lg" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

