<div class="container flex-grow-1">
    <h1 class="mt-5 text-center">Bienvenido</h1>
    <p class="text-center" >Sistema </p>
</div>

<div class="container d-flex justify-content-center my-4">
    <div id="carouselExampleDark" class="carousel carousel-dark slide w-100" style="max-width: 500px;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://img.freepik.com/vector-gratis/plantilla-tarjeta-felicitacion-jubilacion-degradada-ilustrada_23-2148935016.jpg?ga=GA1.1.1346437107.1724645956&semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
    
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://img.freepik.com/psd-gratis/plantilla-degradado-dia-mundial-libro_23-2149290740.jpg?ga=GA1.1.1346437107.1724645956&semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
         
        </div>
        <div class="carousel-item">
          <img src="https://img.freepik.com/vector-gratis/cubierta-libro-invierno-elegante-abstracto_23-2148798745.jpg?ga=GA1.1.1346437107.1724645956&semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
          
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  

  <div class="container-fluid" style="height: 68vh;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <img src="https://img.freepik.com/foto-gratis/sala-biblioteca-limpia-vacia_23-2149215414.jpg?t=st=1743997079~exp=1744000679~hmac=cbc030c34e68585cde1890dcc272833e146905a0a9ffb359d53d1f4f52d5d471&w=996" 
            alt="Imagen Librería" 
            class="img-fluid rounded" 
            style="max-width: 400px;">
    </div>
</div>
